*
!*.sh
!.gitignore

##
!.vscode
!.vscode/*.json
!analyze_directory.py
!download_frigate.py
!upload_mongodb.py
!process_video.py
!copy_files.py
!example.env
!epoch_convert.py
!docker-compose.yaml
!Dockerfile
!crontab
!requirements.txt
!.env.example
!./tests/
!tests/*.py
!tests/*.txt