*
!*.sh
!.gitignore

##
!.vscode
!.vscode/*.json
## Core Files
!main.py
!analyze_directory.py
!download_frigate.py
!upload_mongodb.py
!process_video.py
!copy_files.py
!example.env
!epoch_convert.py
!api_call_upload.py

## Docker
!docker-compose.yaml
!Dockerfile
!crontab
!requirements.txt
## Docs and Tests
!.env.example
!./tests/
!tests/*.py
!tests/*.txt